@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Mono:wght@400;500&display=swap");
@import "./styles/variables.scss";

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    /* font-family: "Poppins", sans-serif; */
}

.container {
    padding: 0 1.5rem;
    max-width: calc(100% - 3rem);
    margin: 0 auto;
    background: transparent;

    @media screen and (min-width: 1440px) {
        max-width: calc(1440px - 3rem);
    }
}

.primary {
    background: $primary;
}

.secondary {
    background: $secondary;
}

.text-primary {
    color: $white;
}
