@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Mono:wght@400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    /* font-family: "Poppins", sans-serif; */
}

/* color palette: https://www.canva.com/colors/color-palettes/northern-lights-3/ */

:root {
    --primary-BG: #278ab0;
    --secondary-BG: #1c4670;
    --info-BG: #1dc690;
    --white: #eaeae0;
}

.container {
    padding: 0 1.5rem;
    max-width: calc(100% - 3rem);
    margin: 0 auto;
    background: transparent;
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: calc(1440px - 3rem);
    }
}

.primary {
    background: var(--primary-BG);
}

.text-primary {
    color: var(--white);
}
