@import "../../../../styles/variables.scss";

.bar {
    width: 100%;
    border-bottom: none;
    background: $primaryDesaturated;
    // border: 1px solid $secondary;
    // border-top-right-radius: 4px;
    // border-top-left-radius: 4px;
}
