@import "../../../../styles/variables.scss";

.bar {
    border-bottom: none;
    background: rgba($white, 0.3);
    border: 2px solid $secondary;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
