@import "./reset.scss";
@import "./variables.scss";

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: $roboto;
    // font-family: "Poppins", sans-serif;
}

.container {
    margin: 0 1.5rem;
    max-width: calc(100% - 3rem);
    background: transparent;

    @media screen and (min-width: 1440px) {
        max-width: calc(1440px - 3rem);
        margin: 0 auto;
    }
}
