@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Mono:wght@400;500&display=swap");

$roboto: "Roboto Mono", monospace;

/* color palette: https://www.canva.com/colors/color-palettes/northern-lights-3/ */
// $primary: #278ab0;
$primary: rgb(236, 26, 26);
$primaryDesaturated: desaturate($primary, 20%);
// $secondary: #1c4670;
$secondary: rgb(26, 20, 22);
$info: rgb(29, 198, 144);
$white: rgb(234, 234, 224);

$completedNodeSize: 2rem;

$letterSpacing: 0.4px;
$spacing-md: 16px;
$borderRadius: 4px;

// $h: rgb(255, 165, 0);
// $e: rgb(29, 198, 144);
// $l: rgb(236, 26, 26);
// $ll: rgb(26, 20, 22);

// breakpoints
@mixin breakpoint($point) {
    @if $point == xl {
        // 1120px
        @media (min-width: 70em) {
            @content;
        }
    } @else if $point == lg {
        // 1024px
        @media (min-width: 64em) {
            @content;
        }
    } @else if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    } @else if $point == md-only {
        // 767px
        @media (max-width: 767px) {
            @content;
        }
    } @else if $point == sm {
        // 600px
        @media (min-width: 37.5em) {
            @content;
        }
    } @else if $point == sm-only {
        @media (max-width: 599px) {
            @content;
        }
    }
}
