@import "../../styles/variables.scss";

$containerHeight: calc(100vh - 7rem);

.sorting__container {
    height: $containerHeight;
    background: $white;
}

.sorting {
    display: flex;
    flex-direction: column;
    height: 100%;
}
