@import "../../styles/variables.scss";

.sorting__container {
    min-height: calc(100vh - 10rem);
    background: $white;

    @include breakpoint(sm) {
        min-height: calc(100vh - 6rem);
    }

    @include breakpoint(lg) {
        min-height: calc(100vh - 7rem);
    }
}

.sorting {
    display: flex;
    flex-direction: column;
    height: 100%;
}
