@import "../../../../styles/variables.scss";

.bar {
    &:not(:last-child) {
        margin-right: 1px;
    }
    width: 100%;
    background: $secondary;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    transition: opacity 0.8s ease 0.2s;
}
