@import "../../../../styles/variables.scss";

.progress-bar-right,
.progress-bar-left {
    flex: 1;
    height: 0.5rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    position: relative;

    &__fill {
        transition: width 0.75s ease;
        width: 0;
        height: 100%;
    }

    .fill {
        width: 100%;
    }
}

.progress-bar-right {
    background: white;
    &__fill {
        background: linear-gradient(90deg, $secondary, $primary);
    }
}

.progress-bar-left {
    background: linear-gradient(90deg, $primary, $secondary);
    &__fill {
        background: white;
    }
}
