@import "./../../styles/variables.scss";

.header__container {
    height: 4rem;
    z-index: 1000;
    position: relative;
    background: $primary;
}

.header {
    height: 100%;
    display: flex;
    align-items: center;

    h1 {
        letter-spacing: $letterSpacing;
        font-weight: 400;
        font-size: 1.6rem;
        text-transform: lowercase;
        color: $white;
    }
}
