@import "../../../../styles/variables.scss";

.progress__bar__right,
.progress__bar__left {
    flex: 1;
    height: 0.5rem;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.3);
    position: relative;

    &__fill {
        transition: width 0.3s ease;
        width: 0;
        height: 100%;
    }

    .fill {
        width: 100%;
    }
}

.progress__bar__right {
    background: white;
    &__fill {
        background: linear-gradient(90deg, $secondary, $primary);
    }
}

.progress__bar__left {
    background: linear-gradient(90deg, $primary, $secondary);
    &__fill {
        background: white;
    }
}
