@import "../../../styles/variables.scss";

.progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    width: 100%;
    margin: 1.25rem 0;

    &__setup,
    &__titles {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        color: $secondary;

        @include breakpoint(md) {
            padding: 0 6rem;
        }
    }
    &__titles {
        height: 1rem;
        justify-content: space-between;
        p {
            font-size: 0.9rem;
            &:last-child {
                text-align: right;
            }
        }
    }
}
