@import "../../../styles/variables.scss";

.progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    width: 100%;
    margin: 1.25rem 0;

    &__setup,
    &__titles {
        padding: 0 6rem;
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        color: $secondary;
    }
    &__titles {
        padding: 0 4rem;
        height: 1rem;
        justify-content: space-between;
        p {
            font-size: 0.9rem;
        }
    }
}
