@import "./../../../styles/variables.scss";

.controls__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    width: 100%;
    margin: 1.25rem 0;
}

.controls {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__range {
        margin-left: $spacing-md;
        -webkit-appearance: none;
        width: 100px;
        height: 15px;
        outline: none;
        opacity: 0.9;
        border-radius: $borderRadius;
        background: $primaryDesaturated;
        -webkit-transition: 0.2s;
        transition: background 0.2s;

        &:hover {
            background: $primary;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            background: white;
            border-radius: 50%;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 15px;
            height: 15px;
            background: white;
            border-radius: 50%;
            cursor: pointer;
        }

        &:disabled {
            border: 1px solid white;
            background: $white;
        }
    }
}
