@import "./../../../styles/variables.scss";

.controls__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    width: 100%;
    margin: 1.25rem 0;
}

.controls {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__range {
        margin-left: $spacing-md;

        -webkit-appearance: none;
        width: 100px;
        height: 15px;
        background: $primaryDesaturated;
        outline: none;
        opacity: 0.7;
    }
}
