@import "../../../../styles/variables.scss";

.completed-node {
    width: $completedNodeSize;
    height: $completedNodeSize;
    border-radius: 50%;
    background: $white;
    box-shadow: inset 0px 0px 4px 2px rgba($secondary, 0.3);
    position: relative;
    transition: background 1s ease;
}

.full {
    background: $secondary;
}

.completed-node::after {
    content: "";
    width: calc($completedNodeSize + 2px);
    height: calc($completedNodeSize + 2px);
    background: transparent;
    border: 2px solid white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
