@import "../../styles/variables.scss";

.options-container {
    height: 3rem;
    background: desaturate($primary, 20%);
}

.options {
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}
