@import "../../../styles/variables.scss";

$buttonBG: $white;
$buttonColor: desaturate($primary, 60%);

.button {
    padding: 0.5rem 1.5rem;
    font: inherit;
    background: $buttonBG;
    border: 1px solid $buttonBG;
    border-radius: 4px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background 0.3s ease;
    color: $buttonColor;
    font-weight: 500;

    &:active {
        border: none;
    }

    &:hover,
    &:active {
        background: rgba($buttonBG, 0.75);
        color: desaturate($primary, 90%);
    }
}
