/* color palette: https://www.canva.com/colors/color-palettes/northern-lights-3/ */
$primary: #278ab0;
$primaryDesaturated: desaturate($primary, 20%);
$secondary: #1c4670;
$info: #1dc690;
$white: #eaeae0;
